{% extends "core/base.html" %}
{% load bootstrap5 %}
{% block title %}
    GradeChecker
{% endblock title %}
{% block content %}
    <h1>GradeChecker</h1>
    <h3>What is this?</h3>
    <p>
        GradeChecker was built to create a rank list of students (which is not officially released) <b>while preserving privacy</b>,
        and to calculate statistics, such as the median/average grades of a department, your detailed performance, etc.
        It is also being built as an alternative to Kronos2.0. While Kronos2.0 uses some hardcoded values to calculate
        the grading curve of a particular subject, this site can automatically calculate using the grades of different students.
        <b>However, for this to be effective, we need the data of as many students as possible</b>. You can help by
        adding yourself and/or your friends to this site. Enjoy!
    </p>
    <h3>How to use this?</h3>
    <p>
        To add someone, you need their <b>roll number</b> and <b>date of birth</b>. Once you have the information,
        head on to <a href="{% url 'student-add' %}">Add a new student</a> to add someone.
        To view the rank list, head on to <a href="{% url 'student-list' %}">View list</a>.
        To view the grades of a particular student, use the form at the bottom of this page.
    </p>
    <h3>How does it work?</h3>
    <p>
        There is a ERP portal, <a href="https://erp.iitkgp.ac.in/StudentPerformanceV2/auth/login.htm">StudentPerformanceV2</a>.
        This website just collects data from the portal and is aggregated to calculate various things.
    </p>
    <h3>Your privacy is protected.</h3>
    <p>
        The rank list only shows the CGPA and department/course. Therefore, no one will be able to identify you.
        That's why it is requested you add your data to the site, since the collected data will be useful for all.
    </p>
    <h3>Links</h3>
    <ul>
        <li>
            <a href="{% url 'student-add' %}">Add a new student</a>
        </li>
        <li>
            <a href="{% url 'student-list' %}">View list</a>
        </li>
        <li>
            <a href="https://github.com/Yureien/GradeChecker">GitHub Repo</a>
        </li>
        <li>
            <a href="https://spookbite-kronos2-0-app-8fonfc.streamlit.app/">Kronos2.0</a>, alternative to view a course's grading scheme. Not always updated.
        </li>
    </ul>
    <h3>Upcoming features</h3>
    <p>
        <ul>
            <li>Ability to add multiple students at once</li>
            <li>Statistics page, both personal and aggregated</li>
            <li>
                <a href="https://spookbite-kronos2-0-app-8fonfc.streamlit.app/">Kronos2.0</a> replacement to view grading curves of subjects
            </li>
            <li>Better frickin' UI</li>
        </ul>
        PS: Any help is appreciated, whether you add data or update code. If you want to contribute to the code, just go to the GitHub repo.
    </p>
    <hr />
    The below form ONLY works if the user is added. If they are not added, <a href="{% url 'student-add' %}">add them here</a>.
    <form method="get" action="{% url 'student-show' %}">
        <div class="form-group">
            <label for="roll_number">Student ID</label>
            <input type="text"
                   class="form-control"
                   id="roll_number"
                   name="rollno"
                   placeholder="Roll Number"/>
            <label for="dob">Date of Birth</label>
            <input type="text"
                   class="form-control"
                   id="dob"
                   name="dob"
                   placeholder="yyyy-mm-dd"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Check</button>
    </form>
{% endblock content %}
